In [ ]:
#Assignment 2- 20bcs102   PRATHAM HARSHVARDHAN DAVE-CSE

In [ ]:
status = "Active" #Assigning a variable with a value

status

In [ ]:
mult = 5 * 5 * 4 * \
        6 * 9 * \
            1
mult

In [ ]:
student_id_set = {32, 22, 15}

student_id_set

In [ ]:
values = (4 , 14,  11,
            23, 54, 65
             ,91)

values

In [ ]:
for ctr in range(0,10):
    if ctr % 2 == 0:
        print(str(ctr) + " is an Even Number")

In [ ]:
#This is a single line comment, used to describe parts of the code

In [ ]:
"""This is a multiline comment, which helps extend the description to a longer
    multi-line length if needed."""

In [ ]:
def arbitraryfunc():
    """This function is a placeholder."""
    print("_")
    
(arbitraryfunc.__doc__)

In [ ]:
val_int = 53
val_str = "Hello World!"
val_bool = True

val_int,val_str,val_bool

In [ ]:
studentA,studentB = 43,44

studentA,studentB

In [ ]:
val_bin = 0b11111111
val_oct = 0o771
val_hex = 0x2FF

val_bin,val_hex,val_oct  #Shows as decimal values

In [ ]:
speed_light_apprx = 3e8
cmplx_num = 5.3j

speed_light_apprx,cmplx_num

In [ ]:
str_statement = "This is a file made with Jupyter Notebook."
char_val = "x"
triple_quote_comment = """This is a Course for CSE Students."""
raw_str = r"absolute \t string"

print(str_statement)
print(char_val)
print(triple_quote_comment)
print(raw_str)

In [ ]:
is_happy = True

if is_happy == True:
    print("Was happy")
    is_happy = False
    
is_happy

In [ ]:
placehold_val = None

if placehold_val == "Something":
    #Do something
    print("Do something")
else:
    placehold_val = "Useful Instruction"
    
placehold_val

In [ ]:
#LITERAL COLLECTIONS 

limst = ["Exhaust","Hood","HeatPipe","Coolant"]
numbz = (23,65,32,23,11,58)
dict_vals = {"Age":19,"Height":182,"Weight":75}
semt = {'z','x','c','v','b','n','m'}

print(limst)
print(numbz)
print(dict_vals)
print(semt)

In [ ]:
identifyA = "a"
identifyB = "b"

print(id(identifyA))
print(id(identifyB))

identifyA = "z"


#ID changes on changing the value
print(id(identifyA))

In [ ]:
#Following Basic Naiming conventions of variables, 
#A name can be written in a lot of ways

va1ue=1
vaLue=2
VALue=3
L41u8=4
_v_AL_ue=5
______v=6

#Case Sensitive

print(va1ue,vaLue,VALue,L41u8,_v_AL_ue,______v)

In [ ]:
glob_scope_val = 55

def do_ntng():
    glob_scope_val = 40
    print(glob_scope_val)
    
do_ntng()
print(glob_scope_val)

In [ ]:
 value = 444

def addn(addr):
    global value
    value += addr
    
addn(556)
print(value)

In [ ]:
str_modify = "This string will be modified using inbuilt python functions!"

s1 = str_modify[::-1]
s2 = str_modify[:5]
s3 = str_modify[5::2]
s4 = str_modify[-1:5:-3]

print(s1)
print(s2)
print(s3)
print(s4)

In [ ]:
str_change = "This string will be saved in various forms using the string function. -_-"

slice_s1 = slice(0,9,-1)

print(str_change[slice_s1])

In [ ]:
# problem 2: Slicing of strings using function slice
py_string = 'LearningPythonFromBook'

# start = -1, stop = -4, step = -1
# includes  indices -1, -2 and -3
slice_object1 = slice(-1, -10, -1)
slice_object2 = slice(15, 5, -1)
slice_object3 = slice(1, 6, 1)

print(py_string[slice_object1],"\n", py_string[slice_object2],"\n",py_string[slice_object3])

In [ ]:
str_change = "This string will be saved in various forms using the string function. -_- "

slice_s1 = slice(0,9,2)
slice_s2 = slice(0,-1,5)
slice_s3 = slice(-4,-1,1)
slice_s4 = slice(0,-1,2)
print(str_change[slice_s1])
print(str_change[slice_s2])
print(str_change[slice_s3])
print(str_change[slice_s4])

In [ ]:
limst_vals = ["Hello","World","Filled","with","mortals!",":)"]
slice_s1 = slice(0,6,4)
slice_s2 = slice(0,6,5)
slice_s3 = slice(2)
print(limst_vals[slice_s1])
print(limst_vals[slice_s2])
print(limst_vals[slice_s3])

In [ ]:
tuple_test = (54, "Fork" , 4.45)

print(tuple_test[::2])
print(tuple_test*2)

In [ ]:
dict_personal = {"1":"Hand","2":"Legs","3":"Pancreas","4":"Jason"}
print(dict_personal["4"])

In [ ]:
string_speak = "Hey!"

print(string_speak[1])

In [ ]:
test_list = [1,2,3,2,1,4,6,5,5]
test_set = set(test_list)

print("Sets have unique values")
#Values Can Be Appended
#Contains unique values without any index
test_set.add(7)
print(test_set)

In [ ]:
#Type Conversion

int_something = 34234
float_something = 42345.3434
add_type_check = int_something + float_something

print(add_type_check, type(add_type_check))
#implicitly converts it to float

In [ ]:
#Cannot Concatenate Different Data Types which do not support implicit conversion
#Eg. Int + string, Float + String etc.

#The following code errors
"""
val_a = 4343
val_b = "3434"
print(val_a + val_b)
"""

In [ ]:
#we can handle the above situation by explicitly converting string to int

val_a = 4343
val_b = "3434"
print(val_a + int(val_b)) #Mathematical Addition
#or
print(str(val_a) + val_b) #string concatenation

In [ ]:
a = 5
a **= 2
print(a)

In [ ]:
numerator = 3423
denomenator = 334

print(numerator/denomenator)
print(numerator+denomenator)
print(numerator%denomenator)
print(numerator-denomenator)
print(numerator//denomenator)
print(numerator*denomenator)
print(numerator**2) #power denomenator is too large

In [ ]:
unique_num_x = 4
unique_num_y = 5

if unique_num_x>unique_num_y:
    print("If condition")
else:
    print("Fixing Value")
    while(unique_num_x>unique_num_y):
        unique_num_y += 1

In [ ]:
bit_x = 0b11110000
bit_y = 0b00011111

print(bit_x,bit_y)
print(bit_x & bit_y)
print(bit_x ^ bit_y)
print(bit_y << 4)
print(bit_x >> 2)

In [ ]:
h_a = 32
h_b = 33
print(h_a is not h_b)

h_b = h_b & h_a
print(h_b)
print(h_a is h_b)

In [ ]:
check_list_vals = {1,4,645,123,534,7245}
if (4 in check_list_vals):
    print("Value exists!")

In [ ]:
user_id = input("Enter ID for Verification: ")

def str_sum(usr_id):
    sum_chars = 0
    val = user_id
    for char_val in usr_id:
#         print(sum_chars)
        sum_chars += int(char_val)
    return sum_chars

if len(user_id) == 5:
    if (str_sum(user_id) % 2 == 0):
        print("You have Local Access")
    elif(str_sum(user_id) % 7 == 2):
        print("You have Admin Access")
    else:
        print("You have Level 1 Clearance for Educational Purposes.")
else:
    print("Access Denied.")
    print("Reason: Invalid ID Entered")

In [12]:
loops = int(input("Enter Refining Loops: "))
value = int(input("Enter Value to be Refined: "))
while loops > 0:
    loops -= 1
    value = (value * 2) / 22.7
    
    
print(value)

Enter Refining Loops: 45
Enter Value to be Refined: 2345234
7.859092727291771e-42

In [14]:
#ASSIGNMENT 2 COMPLETED ON 25-8-2021 19:42:11