<a href="https://colab.research.google.com/github/FortemDave/OOP-CS207-Uma-Mam-Mr.-Shankar-Biradar/blob/main/20bcs102_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Encapsulation: Public Variables

In [4]:
class Student:
    
    def __init__(self,name,sch_class,age):
        self.name = name
        self.sch_class = sch_class
        self.age = age

    def print_stud_details(self):
        print(f"Student {self.name}'s Age is {self.age}.")
        print(f"He studies in class {self.sch_class}.")

    def update_age(self,val):
        self.age += 1
        print(f"{self.name}'s age is now {self.age}")

    def update_class(self,val):
        self.sch_class += 1
        print(f"{self.name}'s class is now {self.sch_class}")

In [5]:
Rohal = Student("Rohal",7,12)
Rohal.print_stud_details()
Rohal.update_age(1)
Rohal.update_class(9)

Student Rohal's Age is 12.
He studies in class 7.
Rohal's age is now 13
Rohal's class is now 8

# Encapsulation: Private Variables

In [10]:
class UserDat:

    def __init__(self,user_id,password,balance):
        self.__user_id = user_id
        self.__password = password
        self.__balance = balance

    def viewDat(self,paswd):
        if paswd == self.__password:
            print(f"User {self.__user_id}'s Balance is {self.__balance}.'")
        else:
            print("Invalid Password.")

    def deposit(self,money,paswd):
        if paswd == self.__password:
            self.__balance += money
            print("Money Deposited Successfully.")
        else:
            print("Invalid Password.")

    def withdraw(self,money,paswd):
        if paswd == self.__password:
            self.__balance -= money
            print("Money Withdrawn Successfully.")
        else:
            print("Invalid Password.")

In [11]:
Amit = UserDat(34525,"rollzen",1300000)
Amit.deposit(50000,"rollzen")
Amit.viewDat("rollzen")
Amit.withdraw(100000,"rollzen")
Amit.viewDat("something")

Money Deposited Successfully.
User 34525's Balance is 1350000.'
Money Withdrawn Successfully.
Invalid Password.

# Parameterized Constructor

In [18]:
class Data:
    car = "Toyota Prius"
    miles_driven = 42343
    engine_type = "diesel"

    def __init__(self,name="EMPTY",age = 32,height_cm = 150):
        self.name = name
        self.age = age
        self.height_cm = height_cm
    
    def carUsed(self):
        print(f"{self.name} uses {Data.car} driven for {Data.miles_driven} miles.")
    
    def birthday(self):
        print(f"Happy Birthday, {self.name}!")
        self.age += 1
    
    def height_inc(self,val):
        self.height_cm += val
        print(f"{self.name}'s height is {self.height_cm}.")

In [19]:
Rahul = Data("Rahul",19,170)
Rahul.carUsed()
Rahul.birthday()
Rahul.height_inc(5)

Rahul uses Toyota Prius driven for 42343 miles.
Happy Birthday, Rahul!
Rahul's height is 175.